@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="row">
    <div class="col-lg-2 col-sm-6">
        <div class="card">
            <a type="button" asp-area="" asp-controller="Options" asp-action="Units">
                <div class="content">
                    <div class="icon-big icon-warning text-center">
                        <i class="ti-ruler-alt"></i>
                    </div>
                    <div class="footer  text-center">
                        <hr />
                        <div class="numbers  text-center">
                            Одиниці виміру
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="col-lg-2 col-sm-6">
        <div class="card">
            <a type="button" asp-area="" asp-controller="Options" asp-action="Category">
                <div class="content">
                    <div class="icon-big icon-warning text-center">
                        <i class="ti-folder"></i>
                    </div>
                    <div class="footer text-center">
                        <hr />
                        <div class="numbers text-center">
                            Категорії
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="col-lg-2 col-sm-6">
        <div class="card">
            <a type="button" asp-area="" asp-controller="Options" asp-action="Manufacturer">
                <div class="content">
                    <div class="icon-big icon-warning text-center">
                        <i class="ti-world"></i>
                    </div>
                    <div class="footer text-center">
                        <hr />
                        <div class="numbers text-center">
                            Виробники
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="col-lg-2 col-sm-6">
        <div class="card">
            <a type="button" asp-area="" asp-controller="Options" asp-action="ProductsList">
                <div class="content">
                    <div class="icon-big icon-warning text-center">
                        <i class="ti-package"></i>
                    </div>
                    <div class="footer text-center">
                        <hr />
                        <div class="numbers text-center">
                            Продукція
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="col-lg-2 col-sm-6">
        <div class="card">
            <a type="button" asp-area="" asp-controller="Options" asp-action="Currency">
                <div class="content">
                    <div class="icon-big icon-warning text-center">
                        <i class="ti-money"></i>
                    </div>
                    <div class="footer text-center">
                        <hr />
                        <div class="numbers text-center">
                            Валюта
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>



    <div class="col-lg-2 col-sm-6">
        <div class="card">
            <a type="button" asp-area="" asp-controller="Options" asp-action="ClientsList">
                <div class="content">
                    <div class="icon-big icon-warning text-center">
                        <i class="ti-user"></i>
                    </div>
                    <div class="footer text-center">
                        <hr />
                        <div class="numbers text-center">
                            Клієнти
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
